#textH {
    height: 550px;
    border-color: rgb(128, 52, 52);
    border-width: 4px
}

#body {
    border-color: rgb(128, 52, 52);
}

#textA {
    border-color: rgb(128, 52, 52);
    height: 90%;
}

textarea {
    resize: none;
}

#textAS {
    resize: none;
}