<p>story-display works!</p>
<div class="card mb-3" id="textH">
    <div class=" card-header text-center"><u><h4><b>Chapter Title</b></h4></u></div>
    <div class="card-body " id="body">
        <h4 class="card-title ">Section title</h4>
        <textarea *ngIf="isLoggedIn" id="textAS" class="col" id="editor" (click)="getDatas()" [readOnly]="disableText">Some quick example text to build on the card title and make up the bulk of the card's content.</textarea>
        <ckeditor *ngIf="!isLoggedIn" [editor]="Editor" [(ngModel)]="model.editorData" (ready)="onReady($event)">

        </ckeditor>
    </div>
</div>
<button (click)=getDatas()>Data</button>