<br>
<div *ngIf="isLoggedIn; else viewOnly">
    <div class="card mb-3 rounded" id="textH">
        <h1 class="card-header text-center">
            <input type="text" class="text-center" placeholder="Enter a title" [(ngModel)]="chapter.name">
        </h1>
        <div class="card-body rounded" id="body">
            <ckeditor [editor]="Editor" [(ngModel)]="chapter.content"></ckeditor>
            <br>
            <button style="width:7%" class="btn btn-primary" (click)=onSubmit()>Save</button>
        </div>
    </div>
    <br>
    <app-dictionary></app-dictionary>
</div>
<ng-template #viewOnly>
    <div class="card mb-3 rounded" id="textH">
        <div class=" card-header text-center">
            <h1>{{chapter.name}}</h1>
        </div>
        <div class="card-body rounded" id="body">
            <ckeditor [editor]="EditorDisabled" [(ngModel)]="chapter.content" disabled></ckeditor>
        </div>
    </div>
</ng-template>
<br>