<nav class="row">
    <!-- <div class="col-4"></div> -->
    <div class="col text-center font-weight-bold text-white rounded" id="post">
        <h1><b>My Posts</b></h1>
    </div>
    <!-- <div class="col-4"></div> -->
</nav>


<div class="row">

    <div class="card text-white  mb-3 col shadow-lg p-4 mb-4" id="FirstStories">
        <div class="card-header ">Story Title goes here.</div>
        <div class="card-body">
            <h4 class="card-title ">List of Stories</h4>
            <div class="list-group">
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>


            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <ul class="pagination pagination-sm col-6">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 loop goes here</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>

                </ul>

                <div class="col-2">

                    <button type="button" *ngIf="active" class="btn rounded" id="btnC">CREATE</button>
                </div>
            </div>

            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>


    <div class="card text-white mb-3 col shadow-lg p-4 mb-4" id="SecondBlogs">
        <div class="card-header ">Blog title goes here</div>
        <div class="card-body ">
            <h4 class="card-title ">Info card title</h4>
            <div class="list-group">
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>
                <div class="row">
                    <a class="list-group-item list-group-item-action text-dark col-10"><u>something</u></a>
                    <button type="button" *ngIf="active" class="col-2 btn rounded" id="btnE">EDIT</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <ul class="pagination pagination-sm col-6">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 loop goes here</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
                <div class="col-2">

                    <button type="button" *ngIf="active" class="btn rounded" id="btnC">CREATE</button>
                </div>
            </div>
            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

</div>