#textH {
    height: 100%;
    border-color: rgb(128, 52, 52);
    background-color: rgb(128, 52, 52);
    color:white;
    border-width: 4px
}
#btnC {
    background-color: rgb(44, 172, 150);
    color: white;
}