#textH {
    height: 100%;
    border-color:rgb(105, 4, 131);
    background-color: rgb(105, 4, 131);
    color:white;
    border-width: 4px
}
#btnC {
    background-color: rgb(44, 172, 150);
    color: white;
}