<br>
<div class="card mb-3 rounded" id="textH">
    <div class=" card-header text-center">
        <div class="form-group row">
            <input type="text" class="form-control" placeholder="Enter a Title" [(ngModel)]="storyTitle">
        </div>
        <form>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-5 text-left">
                    <div *ngFor="let tag of options | slice:0:length+1">
                        <input type="checkbox" class="form-check-input" name="tag" value={{tag.tag}} [(ngModel)]="tag.checked">
                        <label>{{tag.tag.name}}</label>
                    </div>
                </div>
                <div class="col-5 text-left">
                    <div *ngFor="let tag of options | slice:length+1:(length*2)+1">
                        <input type="checkbox" class="form-check-input" name="tag" value={{tag.tag}} [(ngModel)]="tag.checked">
                        <label>{{tag.tag.name}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body rounded" id="body">
        <button type="button" (click)=createStory() id="btnC">Create</button>
    </div>
</div>