<div class="card text-white  mb-3 col shadow-lg p-4 mb-4 rounded" id="FirstStories">
    <div class="card-header ">{{story.name}}</div>
    <div class="card-body">
        <h4 class="card-title ">List of Chapters</h4>

        <div class="list-group">

            <div class="row" *ngFor="let chapter of chapters | slice:0:9">
                <a class="list-group-item list-group-item-action text-dark col-10"><u>{{chapter.name}}</u></a>
                <button type="button" *ngIf="userCurrAuth()" class="col-2 btn rounded" id="btnE" (click)=editChapter()>EDIT</button>
            </div>



        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <ul class="pagination pagination-sm col-6">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2 loop goes here</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>

            </ul>

            <div class="col-2">

                <button type="button" *ngIf="userCurrAuth()" class="btn rounded" id="btnC" (click)="createChapter()">CREATE</button>
            </div>
        </div>

        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>