#textH {
    height: 550px;
    border-color: rgb(105, 4, 131);
    border-width: 4px
}

#body {
    border-color: rgb(105, 4, 131);
}

#editor {
    border-color: rgb(105, 4, 131);
    /* height: 90%; */
}

textarea {
    resize: none;
}